{% extends 'layout.html' %}

{% block title %}
wizurg_setting
{% endblock  %}

{% block header %}
<h1>WizURG操作画面</h1>
{% endblock header %}

{% block content %}
<div class="index-page-container">
    <form method="post" action="/wizurg">
        <button type="submit" name="command" value="indoor_run">屋内開始(単一地図)</button>
    </form>
    <form method="post" action="/wizurg">
        <button type="submit" name="command" value="outdoor_run">屋外開始(複数地図)</button>
    </form>
    <form method="post" action="/wizurg">
        <button type="submit" name="command" value="stop">プログラム停止</button>
    </form>
    <form method="post" action="/wizurg">
        <button type="submit" name="command" value="map">マップ</button>
    </form>
    <br>
    <a href="http://100.80.95.15:5000/">自律走行経路確認用Viewer</a>
</div>
{% endblock  %}

{% block footer %}
index_footer
{% endblock  %}