{% extends 'layout.html' %}

{% block title %}
wizurg_setting
{% endblock  %}

{% block header %}
<h1>WizURG操作画面</h1>
{% endblock header %}

{% block content %}
<div class="index-page-container">
    <p>自律走行プログラムを終了します... 2秒後に自動的にメインページに戻ります。</p>
</div>

<script>
    const reloadChannel = new BroadcastChannel('reloadIndexPageChannel');

    setTimeout(function() {
        reloadChannel.postMessage({ action: 'reload' });
        window.close();
    }, 2000);
</script>

{% endblock  %}

{% block footer %}
index_footer
{% endblock  %}