<!DOCTYPE html>
<html>
<head>
    <title>ROS WebSocket Client via Proxy</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/eventemitter2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/roslib.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='your_script.js') }}"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-eY0gKHjI7xGpry6zi15LLFqiBI5Cc1Qok9KHluTD4Mk="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB0fjpVm20jzcTf4kIUmno+3cLB65wyPWQC5c="
     crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.9.0/proj4.min.js"></script>
    <style>
        #map { height: 400px; width: 80%; }
        .init_pose {
            background: url("{{ url_for('static', filename='img/init_pos.png') }}") no-repeat;
            width: 36px;
            height: 36px;
        }
        .second_pose {
            background: url("{{ url_for('static', filename='img/second_pos.png') }}") no-repeat;
            width: 36px;
            height: 36px;
        }
    </style>
</head>
<body>
    <h1>ROS WebSocket Client via Proxy</h1>
    <div id="status">Connecting...</div>
    <div id="center"></div>
    <div id="processing"></div>
    <div id="map"></div>
    <p>初期位置(緯度,経度):<input type="text" id="init_pos" size="40" value="34.636875765664946, 135.41315674781802"></p>
    <p>2点目(緯度,経度):<input type="text" id="second_pos" size="40" value="34.6369200382282, 135.413198119354"></p>
    <p>標準偏差:<input type="text" id="sigma" size="10" value="0.1"></p>
    <p>地上高:<input type="text" id="ground_height" size="10" value="0"></p>
    <button onclick="pub_init_pose()">Publish Init Pose</button>
    <button onclick="pub_second_pose()">Publish Second Pose</button>
    <button onclick="delete_all_markers()">Delete All Markers</button>
    <button onclick="rotationSwitch()">Rotation Switch</button>
    <script type="text/javascript">
        var map = L.map('map').setView([34.636875765664946, 135.41315674781802], 18);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var redIcon = new L.Icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });
        var blueIcon = new L.Icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });
        var yellowIcon = new L.Icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-yellow.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });
        var latestOdomIcon = {
            radius: 8,
            fillColor: "#0000ff",
            color: "#000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        };
        var latestfilteredIcon = {
            radius: 8,
            fillColor: "#ffff00",
            color: "#000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        };
        var cross = L.icon({
            iconUrl: '{{ url_for('static', filename='img/cross.png') }}',
            iconSize: [30, 30],
            iconAnchor: [15, 15]
        });
        var strayIcon = L.icon({
            iconUrl: '{{ url_for('static', filename='img/stray.png') }}',
            iconSize: [20, 20],
            iconAnchor: [10, 10]
        });
        var lostPropIcon = L.icon({
            iconUrl: '{{ url_for('static', filename='img/lost_property.png') }}',
            iconSize: [20, 20],
            iconAnchor: [10, 10]
        });
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='ROS_fix_marker.js') }}"></script>
</body>
</html>