{% extends 'layout.html' %}

{% block title %}
wizurg_setting
{% endblock  %}

{% block header %}
<h1>WizURG操作画面</h1>
{% endblock header %}

{% block content %}
<form method="post" action="/wizurg">
    <button type="submit" name="command" value="indoor_run" style="width:200px;height:100px">屋内開始(単一地図)</button>
</form>
<form method="post" action="/wizurg">
    <button type="submit" name="command" value="outdoor_run" style="width:200px;height:100px">屋外開始(複数地図)</button>
</form>
<form method="post" action="/wizurg">
    <button type="submit" name="command" value="stop" style="width:200px;height:100px">プログラム停止</button>
</form>
<form method="post" action="/wizurg">
    <button type="submit" name="command" value="tools" style="width:200px;height:100px">設定ツール起動</button>
</form>
<form method="post" action="/wizurg">
    <button type="submit" name="command" value="map" style="width:200px;height:100px;">マップ</button>
</form>
<!-- <br>
<a href="http://192.168.137.28:5000/">Vizanti</a> -->
{% endblock  %}

{% block footer %}
index_footer
{% endblock  %}