<div class="navigation-run-popup-content">
    <p>自律移動の開始前に設定を確認してください。</p>
    <form id="navigationRunForm" method="post" action="/gui" target="_blank">
        <div id="checklist-container" class="checklist">
            <div><input type="checkbox" id="check1_navigation" name="check1_navigation" value="checked"><label for="check1_navigation">一時停止スイッチをオンしていること</label></div>
            <div><input type="checkbox" id="check2_navigation" name="check2_navigation" value="checked"><label for="check2_navigation">オペレータが周りの安全を確認していること</label></div>
            <div><input type="checkbox" id="check3_navigation" name="check3_navigation" value="checked"><label for="check3_navigation">フリースイッチをオフしていること</label></div>
        </div>

        <div class="popup-field">
            <label for="arguments">NAVTYPE:</label>
            <select id="arguments" name="arguments">
                <option value="single_map_gnss">single_map_gnss</option>
                <option value="single_map_loc">single_map_loc</option>
                <option value="multi_map">multi_map</option>
            </select>
        </div>
        <div id="additional-fields" style="display: none;">
            <div class="popup-field">
                <label for="mapfile">MAPFILE:</label>
                <select id="mapfile" name="mapfile">
                    {% for map in map_files %}
                    <option value="{{ map }}">{{ map }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="popup-field">
                <label for="wpfile">WPFILE:</label>
                <select id="wpfile" name="wpfile">
                    {% for wp in wp_files %}
                    <option value="{{ wp }}">{{ wp }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div id="multi-map-field" style="display: none;">
            <div class="popup-field">
                <label for="csvfile">CSVファイル:</label>
                <select id="csvfile" name="csvfile">
                    {% for file in csv_files %}
                    <option value="{{ file }}">{{ file }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <input type="hidden" name="command" value="execute_navigation_run">
        <div class="popup-actions">
            <button type="submit" id="executeBtn_navigation" class="inactive-button" disabled>自律走行開始</button>
        </div>
    </form>
</div>
