<div class="single_map-run-popup-content">
    <p>自律移動の開始前に設定を確認してください。</p>
    <form id="single_mapRunForm" method="post" action="/gui" target="_blank">
        <div id="checklist-container">
            <div><input type="checkbox" id="check1_single_map" name="check1_single_map" value="checked"><label for="check1_single_map">一時停止スイッチをオンしていること</label></div>
            <div><input type="checkbox" id="check2_single_map" name="check2_single_map" value="checked"><label for="check2_single_map">オペレータが周りの安全を確認していること</label></div>
            <div><input type="checkbox" id="check3_single_map" name="check3_single_map" value="checked"><label for="check3_single_map">フリースイッチをオフしていること</label></div>
        </div>
        
        <div class="input-field">
            <label for="arguments">スクリプト引数:</label>
            <select id="arguments" name="arguments">
                <option value="single_map_gnss">single_map_gnss</option>
                <option value="single_map_loc">single_map_loc</option>
                <option value="multi_map">multi_map</option>
            </select>
        </div>
        <div id="additional-fields" style="display: none;">
            <div class="input-field">
                <label for="mapfile">MAPFILE:</label>
                <select id="mapfile" name="mapfile">
                    {% for map in map_files %}
                    <option value="{{ map }}">{{ map }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-field">
                <label for="wpfile">WPFILE:</label>
                <select id="wpfile" name="wpfile">
                    {% for wp in wp_files %}
                    <option value="{{ wp }}">{{ wp }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div id="multi-map-field" style="display: none;">
            <div class="input-field">
                <label for="csvfile">CSVファイル:</label>
                <select id="csvfile" name="csvfile">
                    {% for file in csv_files %}
                    <option value="{{ file }}">{{ file }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <input type="hidden" name="command" value="execute_single_map_run">
        <div style="text-align: center; margin-top: 20px;">
            <button type="submit" id="executeBtn_single_map" class="special inactive-button" disabled style="font-size: 200%;">自律走行開始</button>
        </div>
    </form>
</div>
<style>
    .single_map-run-popup-content {
        text-align: center;
        padding: 10px;
    }
    .single_map-run-popup-content div {
        margin-bottom: 10px;
        text-align: left;
    }
    .single_map-run-popup-content label {
        margin-left: 10px;
    }
    .input-field {
        margin-top: 5px; /* プルダウン同士の間隔を狭くしました */
        text-align: center;
    }
    .input-field select {
        padding: 12px;
        font-size: 1em; /* フォントサイズを小さくしました */
        border: 2px solid #ccc;
        border-radius: 8px;
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
        background-color: white;
    }
</style>