{% extends 'layout.html' %}

{% block title %}
hokuyo_nav2_gui
{% endblock  %}

{% block header %}
<h1>hokuyo_nav2_gui</h1>
{% endblock header %}

{% block content %}
<div class="menu-stack">
    <p>自律走行プログラムを終了します... 2秒後に自動的にメインページに戻ります。</p>
</div>

<script>
    const reloadChannel = new BroadcastChannel('reloadIndexPageChannel');

    setTimeout(function() {
        reloadChannel.postMessage({ action: 'reload' });
        window.close();
    }, 2000);
</script>

{% endblock  %}

{% block footer %}
HOKUYO AUTOMATIC CO., LTD.
{% endblock  %}